body {
  margin: 5px;
  padding: 10px;
  background-color: #64a04c;
}
header {
  background-color: #d22323;
  background-image: url("/frisbeeimgs/coloradofrisbee.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10px;
  display: block;
  text-align: center;
  word-spacing: 20px;
}
h1 {
  color: #66b6e8;
  font-size: 50px;
  text-shadow: 2px 2px 5px green;
}
nav a {
  font-size: 30px;
  display: inline-block;
  background-color: #ade498;
  border: 2px solid #089a5a;
  border-radius: 8px;
  text-decoration: none;
}
.active,
.tabs:hover {
  background-color: #6495ed;
  color: #fff8dc;
}
h2 {
  padding-left: 18%;
}
p {
  padding-left: 18%;
}

img {
  display: block;
  float: left;
  width: 200px;
  height: 200px;
  overflow: hidden;
  clear: both;
  background-color: #c6d245;
  padding: 12px;
  padding-top: 12px;
  border: #d22323 solid 2px;
}
.left {
  float: left;
}

.right {
  display: inline;
}
ul {
  list-style-position: inside;
  padding-left: 20%;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 18px;
  line-height: 35px;
}
table {
  border: 2px solid #abe10a;
  border-bottom: 5px solid #abe10a;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
th {
  background-color: #ade498;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(55deg, #ade498, #00c771);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
tr {
  height: 50px;
  vertical-align: bottom;
  opacity: 0.8;
}
.names {
  text-align: left;
}
td {
  text-align: center;
  color: #06147d;
  background-color: #ade498;
  padding: 5px;
  border-radius: 2px;
  text-shadow: 0.5px 0.5px 0.5px black;
}
tr:hover {
  opacity: 1;
  font-weight: bold;
}
